
body{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        height: auto;
        /*background-color: #e6e6ff;*/
    }

.chrono{width:400px;margin:auto;background:#eee;padding:10px;border:1px solid #222;margin-bottom:30px;}
.chrono-container{display:flex;}
.chrono-container div{flex-direction:column;padding:20px;width:100%;text-align:center;font-size:2em;}
.chrono-start{border-radius:2px;padding:10px;display:block;width:100%;font-size:1.4em;border:1px solid #222;background:#222;color:#eee;cursor:pointer;}
.chrono-start:hover{background:#333;color:#eee;}